
.body_coinp{
    .table_reclamantes{
        table{
            width: 50%;
        }
        thead{
            th{
                background-color: green;
                color: white;
            }
        }
        th,td{
            border: solid gray 1px;
            padding:0px 8px
        }
    }
}